<a href="https://colab.research.google.com/github/AlestanAlves/w3schools_python/blob/master/studiesw3s.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Full course python w3schools** 
[w3s](https://www.w3schools.com/python/default.asp)

In [0]:
x = "Hello World" 	#str 	
x = 20 	#int 	
x = 20.5 	#float 	
x = 1j 	#complex 	
x = ["apple", "banana", "cherry"] 	#list 	
x = ("apple", "banana", "cherry") 	#tuple 	
x = range(6) 	#range 	
x = {"name" : "John", "age" : 36} 	#dict 	
x = {"apple", "banana", "cherry"} 	#set 	
x = frozenset({"apple", "banana", "cherry"}) 	#frozenset 	
x = True 	#bool 	
x = b"Hello" 	#bytes 	
x = bytearray(5) 	#bytearray 	
x = memoryview(bytes(5)) 	#memoryview

In [2]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## **int**
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [3]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# **Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [4]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [5]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# **Complex**

Complex numbers are written with a "j" as the imaginary part:

In [6]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# **Type Conversion**

You can convert from one type to another with the `int()`, `float(`), and `complex()` methods:

In [7]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>


# **Random Number**

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [9]:
import random

print(random.randrange(1,10))

6

# **Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string.

Casting in python is therefore done using constructor functions:

- int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
- float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [0]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [0]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [0]:
 x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# **String Literals**

String literals in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [13]:
print("Hello")
print('Hello')

Hello
Hello

# **Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [14]:
a = "Hello"
print(a)

Hello

# **Multiline Strings**

You can assign a multiline string to a variable by using three quotes:

In [15]:
 a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# **Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [16]:
a = "Hello, World!"
print(a[1])

e

# **Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [17]:
b = "Hello, World!"
print(b[2:5])

llo

# **Negative Indexing**
Use negative indexes to start the slice from the end of the string:

In [18]:
b = "Hello, World!"
print(b[-5:-2])

orl

# **String Length**

To get the length of a string, use the len() function

In [19]:
a = "Hello, World!"
print(len(a))

13

# **String Methods**

Python has a set of built-in methods that you can use on strings.

In [20]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

## **Lower** (letras pequenas)

In [21]:
a = "Hello, World!"
print(a.lower())

hello, world!

## **Upper** (letras maiores)

In [22]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

## **Split**

The split() method splits the string into substrings if it finds instances of the separator:

In [23]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# **Check String**

To check if a certain phrase or character is present in a string, we can use the keywords `in` or `not in`.

Check if the phrase "ain" is present in the following text:

In [24]:
 txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

Check if the phrase "ain" is NOT present in the following text:

In [25]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

# **String Concatenation**

To concatenate, or combine, two strings you can use the + operator.

In [26]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [27]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# **String Format**

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [30]:
age = 36
txt = "My name is John, I am " + (age)
print(txt)

TypeError: ignored

But we can combine strings and numbers by using the `format()` method!

The `format()` method takes the passed arguments, formats them, and places them in the string where the placeholders `{}` are:

In [31]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [32]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers `{0}` to be sure the arguments are placed in the correct placeholders:

In [33]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# **Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash `\` followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

**Example**

You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [34]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: ignored

To fix this problem, use the escape character `\"`:

In [0]:
txt = "We are the so-called \"Vikings\" from the north."

Other escape characters used in *Python*:

```
Code 	  Result 	        
\' 	    Single Quote 	
\\ 	    Backslash 	
\n 	    New Line 	
\r 	    Carriage Return 	
\t 	    Tab 	
\b 	    Backspace 	
\f 	    Form Feed 	
\ooo 	  Octal value 	
\xhh 	  Hex value
```

# **String Methods**

Python has a set of built-in methods that you can use on strings.

```
Method 	      Description
capitalize()	Converts the first character to upper case
casefold()	  Converts string into lower case
center()	    Returns a centered string
count()	     Returns the number of times a specified value occurs in a string
encode()	    Returns an encoded version of the string
endswith()	  Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	      Searches the string for a specified value and returns the position of where it was found
format()	    Formats specified values in a string
format_map()	Formats specified values in a string
index()	     Searches the string for a specified value and returns the position of where it was found
isalnum()	   Returns True if all characters in the string are alphanumeric
isalpha()	   Returns True if all characters in the string are in the alphabet
isdecimal()	 Returns True if all characters in the string are decimals
isdigit()	   Returns True if all characters in the string are digits
isidentifier()  Returns True if the string is an identifier
islower()	   Returns True if all characters in the string are lower case
isnumeric()	 Returns True if all characters in the string are numeric
isprintable()   Returns True if all characters in the string are printable
isspace()	   Returns True if all characters in the string are whitespaces
istitle() 	  Returns True if the string follows the rules of a title
isupper()	   Returns True if all characters in the string are upper case
join()	      Joins the elements of an iterable to the end of the string
ljust()	     Returns a left justified version of the string
lower()	     Converts a string into lower case
lstrip()	    Returns a left trim version of the string
maketrans()	 Returns a translation table to be used in translations
partition()	 Returns a tuple where the string is parted into three parts
replace()	   Returns a string where a specified value is replaced with a specified value
rfind()	     Searches the string for a specified value and returns the last position of where it was found
rindex()	    Searches the string for a specified value and returns the last position of where it was found
rjust()	     Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	    Splits the string at the specified separator, and returns a list
rstrip()	    Returns a right trim version of the string
split()	     Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	     Returns a trimmed version of the string
swapcase()	  Swaps cases, lower case becomes upper case and vice versa
title()	     Converts the first character of each word to upper case
translate()	 Returns a translated string
upper()	     Converts a string into upper case
zfill()     	Fills the string with a specified number of 0 values at the beginning

```

# **Boolean Values**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [36]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns True or False:

In [37]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# **Evaluate Values and Variables**

The `bool()` function allows you to evaluate any value, and give you `True `or `False` in return

In [38]:
print(bool("Hello"))
print(bool(15))

True
True

In [39]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# **Most Values are True**

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [40]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

## **Some Values are False**

In fact, there are not many values that evaluates to `False`, except empty values, such as `(), [], {}, ""`, the number 0, and the value `None`. And of course the value `False` evaluates to `False`.

In [41]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

One more value, or object in this case, evaluates to `False`, and that is if you have an objects that are made from a class with a `__len__` function that returns `0` or `False`:

In [42]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## **Functions can Return a Boolean**

Python also has many built-in functions that returns a boolean value, like the `isinstance()` function, which can be used to determine if an object is of a certain data type:

In [43]:
x = 200
print(isinstance(x, int))

True

## **Python Operators**

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

  - Arithmetic operators
  - Assignment operators
  - Comparison operators
  - Logical operators
  - Identity operators
  - Membership operators
  - Bitwise operators

## **Python Arithmetic Operators**

Arithmetic operators are used with numeric values to perform common mathematical operations:

In [0]:
Operator 	Name 	                Example 	 
+ 	      Addition 	            x + y 	
- 	      Subtraction 	        x - y 	
* 	      Multiplication 	      x * y 	
/ 	      Division 	            x / y 	
% 	      Modulus 	            x % y 	
** 	      Exponentiation 	      x ** y 	
// 	      Floor division 	      x // y

In [0]:
Operator 	Example 	Same As 	Try it
= 	      x = 5 	  x = 5 	
+= 	      x += 3 	  x = x + 3 	
-= 	      x -= 3 	  x = x - 3 	
*= 	      x *= 3 	  x = x * 3 	
/= 	      x /= 3 	  x = x / 3 	
%= 	      x %= 3 	  x = x % 3 	
//= 	    x //= 3 	x = x // 3 	
**= 	    x **= 3 	x = x ** 3 	
&= 	      x &= 3  	x = x & 3 	
|= 	      x |= 3 	  x = x | 3 	
^= 	      x ^= 3  	x = x ^ 3 	
>>= 	    x >>= 3 	x = x >> 3 	
<<= 	    x <<= 3 	x = x << 3

## **Python Comparison Operators**

Comparison operators are used to compare two values:

In [0]:
Operator 	Name 	                        Example 	
== 	      Equal 	                      x == y 	
!= 	      Not equal 	                  x != y 	
> 	      Greater than        	        x > y 	
< 	      Less than 	                  x < y 	
>= 	      Greater than or equal to 	    x >= y 	
<= 	      Less than or equal to         x <= y

## **Python Logical Operators**

Logical operators are used to combine conditional statements:

In [0]:
Operator 	Description 	                                              Example 	
and  	    Returns True if both statements are true 	                  x < 5 and  x < 10 	
or 	      Returns True if one of the statements is true 	            x < 5 or x < 4 	
not 	    Reverse the result, returns False if the result is true     not(x < 5 and x < 10)

# **Python Identity Operators**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [0]:
Operator 	    Description 	                                            Example 
is  	        Returns true if both variables are the same object 	      x is y 	
is not 	      Returns true if both variables are not the same object 	  x is not y

# **Python Membership Operators**

Membership operators are used to test if a sequence is presented in an object:

In [0]:
Operator 	    Description 	                                                                      Example 	
in  	        Returns True if a sequence with the specified value is present in the object 	      x in y 	
not in 	      Returns True if a sequence with the specified value is not present in the object 	  x not in y

# **Python Bitwise Operators**

Bitwise operators are used to compare (binary) numbers:

In [0]:
Operator 	Name 	                          Description
&  	      AND 	                          Sets each bit to 1 if both bits are 1
| 	      OR 	                            Sets each bit to 1 if one of two bits is 1
 ^ 	      XOR 	                          Sets each bit to 1 if only one of two bits is 1
~  	      NOT 	                          Inverts all the bits
<< 	      Zero fill left shift 	          Shift left by pushing zeros in from the right and let the leftmost bits fall off
>> 	      Signed right shift 	            Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

## **Python Collections (Arrays)**

There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered and unindexed. No duplicate members.
- Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# **List**

A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [45]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

## **Access Items**

You access the list items by referring to the index number:

In [46]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

## **Negative Indexing**

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [47]:
 thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

# **Range of Indexes**

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [48]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [49]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [50]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

## **Range of Negative Indexes**

Specify negative indexes if you want to start the search from the end of the list:

In [51]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']


## **Change Item Value**

To change the value of a specific item, refer to the index number:

In [52]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

## Loop Through a List

You can loop through the list items by using a for loop:

In [53]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

# **Check if Item Exists**

To determine if a specified item is present in a list use the in keyword:

In [54]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

### **List Length**

To determine how many items a list has, use the len() function:

In [55]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

## **Add Items**

To add an item to the end of the list, use the append() method:

In [56]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

To add an item at the specified index, use the `insert()` method:

In [57]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

# **Remove Item**

There are several methods to remove items from a list:

In [58]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

The `pop() `method removes the specified index, (or the last item if index is not specified):

In [59]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The `del` keyword removes the specified index:

In [60]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The `del` keyword can also delete the list completely:

In [0]:
thislist = ["apple", "banana", "cherry"]
del thislist

The `clear()` method empties the list:

In [62]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## **Copy a List**

You cannot copy a `list` simply by typing `list2 = list1`, because: list2 will only be a reference to list1, and changes made in `list1 `will automatically also be made in `list2`.

There are ways to make a copy, one way is to use the built-in List method `copy()`.

In [63]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method `list()`.

**Example**

Make a copy of a list with the `list()` method:

In [64]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

## **Join Two Lists**

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [65]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

**Example**

Append list2 into list1:

In [66]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the `extend()` method, which purpose is to add elements from one list to another `list`:

**Example**

Use the `extend()` method to add `list2` at the end of `list1`:

In [67]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

## **The list() Constructor**

It is also possible to use the l`ist()` constructor to make a new list.

**Example**

Using the list() constructor to make a List:

In [68]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

## **List Methods**

Python has a set of built-in methods that you can use on lists.

In [0]:
Method 	    Description
append()	  Adds an element at the end of the list
clear()	    Removes all the elements from the list
copy()	    Returns a copy of the list
count()	    Returns the number of elements with the specified value
extend()	  Add the elements of a list (or any iterable), to the end of the current list
index()	    Returns the index of the first element with the specified value
insert()	  Adds an element at the specified position
pop()	      Removes the element at the specified position
remove()	  Removes the item with the specified value
reverse()	  Reverses the order of the list
sort()	    Sorts the list

## **Tuple**

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [69]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## **Access Tuple Items**

You can access tuple items by referring to the index number, inside square brackets:

In [70]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

## **Negative Indexing**

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [71]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

## **Range of Indexes**

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [73]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

## **Range of Negative Indexes**

Specify negative indexes if you want to start the search from the end of the tuple:

In [74]:
 thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

## **Change Tuple Values**

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [75]:
 x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## **Loop Through a Tuple**

You can loop through the tuple items by using a `for` loop.

In [76]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

## **Check if Item Exists**

To determine if a specified item is present in a tuple use the in keyword:

In [77]:
 thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## **Tuple Length**

To determine how many items a tuple has, use the `len()` method:

In [78]:
 thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

## **Add Items**

Once a tuple is created, you cannot add items to it. Tuples are **unchangeable**.

In [79]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: ignored

## **Create Tuple With One Item**

To create a tuple with only one item, you have add a comma after the item, unless Python will not recognize the variable as a tuple.

In [80]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## **Remove Items**

Note: You cannot remove items in a tuple.

 Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:
Example

The del keyword can delete the tuple completely:

In [81]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored