<a href="https://colab.research.google.com/github/AlestanAlves/w3schools_python/blob/master/studiesw3s.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Full course python w3schools** 
[w3s](https://www.w3schools.com/python/default.asp)

In [0]:
x = "Hello World" 	#str 	
x = 20 	#int 	
x = 20.5 	#float 	
x = 1j 	#complex 	
x = ["apple", "banana", "cherry"] 	#list 	
x = ("apple", "banana", "cherry") 	#tuple 	
x = range(6) 	#range 	
x = {"name" : "John", "age" : 36} 	#dict 	
x = {"apple", "banana", "cherry"} 	#set 	
x = frozenset({"apple", "banana", "cherry"}) 	#frozenset 	
x = True 	#bool 	
x = b"Hello" 	#bytes 	
x = bytearray(5) 	#bytearray 	
x = memoryview(bytes(5)) 	#memoryview

In [2]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## **int**
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [3]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# **Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [4]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [5]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# **Complex**

Complex numbers are written with a "j" as the imaginary part:

In [6]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# **Type Conversion**

You can convert from one type to another with the `int()`, `float(`), and `complex()` methods:

In [7]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>


# **Random Number**

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [9]:
import random

print(random.randrange(1,10))

6

# **Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string.

Casting in python is therefore done using constructor functions:

- int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
- float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [0]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [0]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [0]:
 x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# **String Literals**

String literals in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [13]:
print("Hello")
print('Hello')

Hello
Hello

# **Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [14]:
a = "Hello"
print(a)

Hello

# **Multiline Strings**

You can assign a multiline string to a variable by using three quotes:

In [15]:
 a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# **Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [16]:
a = "Hello, World!"
print(a[1])

e

# **Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [17]:
b = "Hello, World!"
print(b[2:5])

llo

# **Negative Indexing**
Use negative indexes to start the slice from the end of the string:

In [18]:
b = "Hello, World!"
print(b[-5:-2])

orl

# **String Length**

To get the length of a string, use the len() function

In [19]:
a = "Hello, World!"
print(len(a))

13

# **String Methods**

Python has a set of built-in methods that you can use on strings.

In [20]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

## **Lower** (letras pequenas)

In [21]:
a = "Hello, World!"
print(a.lower())

hello, world!

## **Upper** (letras maiores)

In [22]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

## **Split**

The split() method splits the string into substrings if it finds instances of the separator:

In [23]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# **Check String**

To check if a certain phrase or character is present in a string, we can use the keywords `in` or `not in`.

Check if the phrase "ain" is present in the following text:

In [24]:
 txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

Check if the phrase "ain" is NOT present in the following text:

In [25]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

# **String Concatenation**

To concatenate, or combine, two strings you can use the + operator.

In [26]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [27]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# **String Format**

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [30]:
age = 36
txt = "My name is John, I am " + (age)
print(txt)

TypeError: ignored

But we can combine strings and numbers by using the `format()` method!

The `format()` method takes the passed arguments, formats them, and places them in the string where the placeholders `{}` are:

In [31]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [32]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers `{0}` to be sure the arguments are placed in the correct placeholders:

In [33]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# **Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash `\` followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

**Example**

You will get an error if you use double quotes inside a string that is surrounded by double quotes:

In [34]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: ignored

To fix this problem, use the escape character `\"`:

In [0]:
txt = "We are the so-called \"Vikings\" from the north."

Other escape characters used in *Python*:

```
Code 	  Result 	        
\' 	    Single Quote 	
\\ 	    Backslash 	
\n 	    New Line 	
\r 	    Carriage Return 	
\t 	    Tab 	
\b 	    Backspace 	
\f 	    Form Feed 	
\ooo 	  Octal value 	
\xhh 	  Hex value
```

# **String Methods**

Python has a set of built-in methods that you can use on strings.

```
Method 	      Description
capitalize()	Converts the first character to upper case
casefold()	  Converts string into lower case
center()	    Returns a centered string
count()	     Returns the number of times a specified value occurs in a string
encode()	    Returns an encoded version of the string
endswith()	  Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	      Searches the string for a specified value and returns the position of where it was found
format()	    Formats specified values in a string
format_map()	Formats specified values in a string
index()	     Searches the string for a specified value and returns the position of where it was found
isalnum()	   Returns True if all characters in the string are alphanumeric
isalpha()	   Returns True if all characters in the string are in the alphabet
isdecimal()	 Returns True if all characters in the string are decimals
isdigit()	   Returns True if all characters in the string are digits
isidentifier()  Returns True if the string is an identifier
islower()	   Returns True if all characters in the string are lower case
isnumeric()	 Returns True if all characters in the string are numeric
isprintable()   Returns True if all characters in the string are printable
isspace()	   Returns True if all characters in the string are whitespaces
istitle() 	  Returns True if the string follows the rules of a title
isupper()	   Returns True if all characters in the string are upper case
join()	      Joins the elements of an iterable to the end of the string
ljust()	     Returns a left justified version of the string
lower()	     Converts a string into lower case
lstrip()	    Returns a left trim version of the string
maketrans()	 Returns a translation table to be used in translations
partition()	 Returns a tuple where the string is parted into three parts
replace()	   Returns a string where a specified value is replaced with a specified value
rfind()	     Searches the string for a specified value and returns the last position of where it was found
rindex()	    Searches the string for a specified value and returns the last position of where it was found
rjust()	     Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	    Splits the string at the specified separator, and returns a list
rstrip()	    Returns a right trim version of the string
split()	     Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	     Returns a trimmed version of the string
swapcase()	  Swaps cases, lower case becomes upper case and vice versa
title()	     Converts the first character of each word to upper case
translate()	 Returns a translated string
upper()	     Converts a string into upper case
zfill()     	Fills the string with a specified number of 0 values at the beginning

```

# **Boolean Values**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [36]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns True or False: